body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 
.app-frame {
  margin: 5%;
  padding: 30px;
  width: calc(80vw);
  background-image: linear-gradient(gray,white);;
}

.customers-actions {
  background: #AAA;
  padding: 10 px;
  margin: 10 px;
}

.customers-actions button {
  background: white;
  min-width: 100px;
  height: 30px;
  margin: 5px;
}

.customer-list-item .field {
  width: 160px;
  margin: 1px;
  padding: 4px;
  /* background: #EEE; */
  display: inline-block;
}